@page
@model LoginModel
@{
    ViewData["Title"] = "Login/Register";
}

<link rel="stylesheet" href="~/css/auth.css" />
<div class="auth-page">
<div class="container" id="auth-container">
    <div class="form-container sign-up-container">
        <form method="post" asp-page="./Register">
            <h2>Create Account</h2>
            <input type="text" name="FirstName" placeholder="First Name" required />
            <input type="text" name="LastName" placeholder="Last Name" required />
             <input type="number" name="PhoneNumber" placeholder="Contact" required />
             <input type="text" name="Address" placeholder="Address" required />
            <input type="email" name="Email" placeholder="Email" required />
            <input type="password" name="Password" placeholder="Password" required />
            <input type="password" name="ConfirmPassword" placeholder="Confirm Password" required />
            <button type="submit">Register</button>
        </form>
    </div>

    <div class="form-container sign-in-container">
        <form method="post">
            <h2>Sign in</h2>
            <input asp-for="Input.Email" placeholder="Email" />
            <input asp-for="Input.Password" type="password" placeholder="Password" />
            <div class="checkbox">
                <input asp-for="Input.RememberMe" /> Remember Me
            </div>
            <button type="submit">Login</button>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>Already have an account? Log in here</p>
                <button class="ghost" id="signIn">Login</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>New here? Register now</p>
                <button class="ghost" id="signUp">Register</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('auth-container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    </script>
}

