@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Suspension";
}
<h2>Suspension Systems</h2>
<p>Enhance your ride quality with our suspension solutions.</p>